.expression-table .rt-th .rt-text-content {
  white-space: normal;
  text-align: center;
}
.expression-table .rt-tr-header {
  height: auto;
  text-align: center;
}
.expression-table .rt-table {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
