.expression-table {
  max-width: 100%; // Odstranění !important
  overflow-x: auto;
  
  .rt-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  
  .rt-th,
  .rt-td {
    position: relative;
    text-align: center;
    padding: 5px;
    margin: 0;
    border-spacing: 0;
    white-space: nowrap;
  }
  
  // Aplikace resize pouze na standardní hlavičky, ne na skupiny
  .rt-thead.-header .rt-th {
    resize: horizontal;
    overflow: hidden;
    
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 5px;
      height: 100%;
      cursor: col-resize;
      background-color: transparent;
    }
  }
  
  // Zakázání resize pro skupiny sloupců
  .rt-thead.-headerGroups .rt-th {
    resize: none; // Zakáže možnost změny velikosti
    overflow: visible; // Předejde zobrazení značky pro změnu velikosti
    
    &::after {
      display: none; // Úplně odstraní značku pro změnu velikosti
    }
  }
}