
.collapsible-box {
  .card-header .card-tools {
    margin-top: -25px;
  }
  .card-body {
    font-size: 16px; 
    line-height: 0.8; 
    padding: 20px 30px;
  }
}

.card .card-body .two-col-checkbox-group {
  column-count: 2; 
  column-gap: 20px;
}

.card .card-body .two-col-checkbox-group label {
  font-weight: normal;
}

.download-button {
   color: #74C0FC; 
   margin-bottom: 0; 
   padding-bottom: 0;
}
