.clinvar-tag {
  display: inline-block;
  padding: 0.125rem 0.75rem;
  border-radius: 15px;
  //font-weight: 600;
  font-size: 16px;
}
.clinvar-pathogenic {
  background: #F8D6D7;
  color: #692B33;
  font-weight: 600;
}
.clinvar-likely_pathogenic {
  background: #FFC78F;
  color: #DC5801;
  font-weight: 600;
}
.clinvar-conflicting_interpretations_of_pathogenicity {
  background: #EBDDF1;
  color: #5E3F69;
  font-weight: 600;
}
/*
.clinvar-pathogenic {
  background: #D7281B;
  color: #FFFFFF;
  font-weight: 700;
}

.clinvar-likely_pathogenic {
  background: #FFC78F;
  color: #DC5801;
}
.clinvar-benign {
  background: #DABA97;
  color: #6C5434;
}
.clinvar-likely_benign {
  background: #EAD8BD;
  color: #845F39;
}
.clinvar-not_provided {
  background: #D8D8D8;
  color: #444444;
}
.clinvar-uncertain_significance {
  background: #E0EAF2;
  color: #3A5A6B;
}
.clinvar-conflicting_interpretations_of_pathogenicity {
  background: #EBDDF1;
  color: #5E3F69;
}
*/
.db-yes {
  background: #E6F5E2;
  color: #3E5236;
  display: inline-block;
  width: 60px;
  padding: 0.125rem 0.75rem;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
}