@use 'summary_table';
@use 'fusion_genes_table';
@use 'expression_profile_table';


.main-header {
  padding-bottom: 1rem !important;
  border-bottom: 1px solid #dee2e6;
}

.main-header.navbar {
  font-size: 23px;
}