.summary-box {
  width: 350px;
  
  .card-header {
    padding: 5px 10px;  /* Sníží padding */
  }
  .card-header .card-title {
    font-size: 16px;    /* Menší velikost písma */
    margin: 0;          /* Odstraní nepřebytečné mezery */
  }
}

.no_data {
  background-color: #f0f0f0 !important;
  border: 2px dashed #aaa !important;
  color: #888;
}

.somatic-infobox {
  .elevation-2{
    border: 2px solid #7ac143; 
    background-color: #f8fcf6ff; 
    border-radius: 10px;
  }
}
.germline-infobox {
  .elevation-2{
    border: 2px solid #45818e; 
    background-color: #f1f8f9ff; 
    border-radius: 10px;
  }
}
.fusion-infobox {
  .elevation-2{
    border: 2px solid #f1c232; 
    background-color: #fffdf7ff; 
    border-radius: 10px;
  }
}
.expression-infobox {
  .elevation-2{
    border: 2px solid #3c78d8ff; 
    background-color: #f2f6fcff; 
    border-radius: 10px; 
  }
}
.somatic-box {
  .card {
    border: 2px solid #7ac143; 
  }
  .card-header {
    background-color: #f8fcf6ff; 
  }
}
.germline-box {
  .card {
    border: 2px solid #45818e;
  }
  .card-header {
    background-color: #f1f8f9ff; 
  }
}
.fusion-box {
  .card {
    border: 2px solid #f1c232; 
  }
  .card-header {
    background-color: #fffdf7ff; 
  }
}

.summary-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Karty budou mít rovnoměrný prostor */
  gap: 15px; /* Mezera mezi kartami */
  
  .bs4-card {
    flex: 1 1 40%; /* Karty zabírají 40% šířky rodiče */
    //max-width: 400px; /* Maximální šířka karet */
    width: 100%;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Mírný stín pro lepší vzhled */
  }
}



.summary-content {
  //padding: 10px;
  //margin: 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;


  .text-content {
    //flex: 1; /* Textová část zabírá více místa */
    align-items: flex-start;
    //margin-right: 20px; /* Mezera mezi textem a obrázkem */
  }
  //.image-content {
    //flex: 2; 
    //align-items: flex-start;
    //width: 100%;
    //height: auto;
    //display: inline-block; 
    //vertical-align: middle;
 // }
  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .icon-green {
    color: #00a65a;
  }

  .icon-red {
    color: #ff0000;
  }

  .category {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .item {
    margin-left: 20px; /* Zmenšený odsazení u textových položek */
  }

  .responsive-image {
    width: 120px; /* Fixní šířka obrázku */
    height: auto;
  }
}
