# R and Shiny specific files
.Rhistory
.RData
.Rproj.user/
*.log

# Local environment configuration
.Renviron
.env

# Cache files
*.tar.gz
*.zip

# Other files
*.bam
*.bai
*.xlsx
*.xls
*.tsv
*.exe

# renv and input data directories
renv/
report_results/

Caddyfile
